<ion-header>
  <ion-toolbar>
    <ion-title>Progress</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-item class="w-100">
        <ion-label>Average</ion-label>
        <ion-select value="perWeek" (ionChange)="changeInterval($event)">
          <ion-select-option value="perWeek">Last 7 days</ion-select-option>
          <ion-select-option value="perMonth">Last 4 weeks</ion-select-option>
          <!-- <ion-select-option value="perYear">Last 12 months</ion-select-option> -->
        </ion-select>
      </ion-item>
    </ion-row>
    <ion-row *ngIf="avgOption === 'perWeek'">
      <div class="w-100">
        <app-weekly-avg [habits]="habits"></app-weekly-avg>
      </div>
    </ion-row>
    <ion-row *ngIf="avgOption === 'perMonth'">
      <div class="w-100">
        <app-monthly-avg [habits]="habits"></app-monthly-avg>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
