<ion-item-sliding>
  <ion-item>
    <ion-icon
      slot="start"
      name="checkmark-circle"
      [color]="isFinished ? 'primary' : 'warning'"
      *ngIf="isFinished || isPartlyFinished"
    ></ion-icon>
    <ion-icon
      slot="start"
      name="close-circle"
      *ngIf="notFinished"
      color="danger"
    ></ion-icon>
    <ion-icon
      slot="start"
      name="checkmark-circle-outline"
      color="primary"
      *ngIf="!isFinished && !isPartlyFinished && !notFinished"
    ></ion-icon>
    <div class="d-flex flex-column">
      <ion-text>
        <ion-label>{{ habit.title }}</ion-label>
      </ion-text>
      <ion-text color="medium" class="subTitle">
        <ion-label
          >{{
            isFinished
              ? habit.goals.numOption
              : isPartlyFinished
              ? recordTime
              : 0
          }}
          {{
            !notFinished && !targetIsForToday && recordTarget
              ? "/ " + recordTarget
              : targetIsForToday ||
                (!notFinished && !isPartlyFinished && !isFinished)
              ? "/ " + habit.goals.numOption
              : ""
          }}
          {{ habit.goals.unit }}</ion-label
        >
      </ion-text>
    </div>
  </ion-item>
  <ion-item-options side="end">
    <ion-item-option
      color="tertiary"
      (click)="presentEditModal(habit)"
      [disabled]="isFinished || isPartlyFinished || notFinished"
      >Edit Habit</ion-item-option
    >
    <ion-item-option
      color="primary"
      (click)="onFinishHabit(habit)"
      [disabled]="!targetIsForToday"
      >Finished</ion-item-option
    >
    <ion-item-option
      color="secondary"
      (click)="setTimer(habit)"
      [disabled]="!targetIsForToday"
      >Timer</ion-item-option
    >
  </ion-item-options>
</ion-item-sliding>
