<ion-header>
  <ion-toolbar>
    <div class="d-flex align-items-center">
      <ion-button fill="clear" color="primary" (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
      <ion-text>Edit Habit</ion-text>
      <ion-button
        fill="clear"
        class="ml-auto addHabit"
        (click)="onUpdateHabit()"
        >Save</ion-button
      >
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label> {{ habit.title }} </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="repeat" class="mr-1" color="medium"></ion-icon>
    <ion-label color="medium">Repeat</ion-label>
    <ion-select
      multiple="true"
      interface="alert"
      [value]="habit.repeat"
      (ionChange)="onRepeatSelect($event)"
    >
      <ion-select-option value="Sunday">Sunday</ion-select-option>
      <ion-select-option value="Monday">Monday</ion-select-option>
      <ion-select-option value="Tuesday">Tuesday</ion-select-option>
      <ion-select-option value="Wednesday">Wednesday</ion-select-option>
      <ion-select-option value="Thursday">Thursday</ion-select-option>
      <ion-select-option value="Friday">Friday</ion-select-option>
      <ion-select-option value="Saturday">Saturday</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item button (click)="presentPicker()" expand="full"
    ><ion-icon name="rocket" color="medium" class="mr-2"></ion-icon
    ><ion-text color="medium">Goal</ion-text></ion-item
  >
</ion-content>
