<ion-header>
  <ion-toolbar>
    <ion-title>Journal</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="calender">
    <calendar
      [eventSource]="eventSource"
      [calendarMode]="calendar.mode"
      [currentDate]="calendar.currentDate"
      (onCurrentDateChanged)="onCurrentDateChanged($event)"
      (onEventSelected)="onEventSelected($event)"
      (onTitleChanged)="onViewTitleChanged($event)"
      (onTimeSelected)="onTimeSelected($event)"
      startingDayWeek="1"
    >
    </calendar>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/', 'new-habit']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <app-no-habit *ngIf="todayHabits.length <= 0 && !isLoading"></app-no-habit>
  <div *ngIf="isLoading" class="w-100 text-center">
    <ion-spinner></ion-spinner>
  </div>
  <ion-list *ngIf="todayHabits.length > 0 && !isLoading">
    <div *ngFor="let habit of todayHabits">
      <app-habit [habit]="habit"></app-habit>
    </div>
  </ion-list>
</ion-content>
